@font-face {
    font-family: reguler;
    src:url(../fonts/Montserrat-Regular.ttf)
}
@font-face {
    font-family: bold;
    src: url(../fonts/Montserrat-ExtraBold.ttf);
}

html{
  scroll-behavior: smooth;
}

body {
	font-family: reguler;
	background-color: rgb(255, 255, 255);
}

select:hover{
  cursor: pointer;
}

.card3{
  box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px, rgba(0, 0, 0, 0.05) 0px 5px 10px;
}

.card-model-baju{
  margin: 1% 1% 1% 1%;
}

#header{
  background-color: white;
  position: fixed;
  top: 0;
  width: 100%;
  height: 150px;
  font-family: reguler;
  opacity: 90%;
  transition: 0.3s;
}
#header-text{
  top: 10px;
  margin: 10px;
}

#header:hover{
  opacity: 100%;
  transition:0.3s;
}

#logo{
  margin: 0px 80px 80px 10%; 
  width: 150px; 
  height: fit-content; 
  top: 0;
}

button:active {
transform: scale(0.95);
}

#header #left-navbar{
  text-decoration: none;
  color: #173695;
  margin: 0px 30px;
  vertical-align: 50px;
  line-height: 150px;
}

#header #right-navbar{
  text-decoration: none;
  color: #173695;
  margin: 0px 10px;
  line-height: 150px;
  float: right;
}

#header input{
  margin-top: 65px;
  line-height: 10px;
  text-decoration: #173695;
  border-top: none;
  border-left: none;
  border-right: none;
  border-color: #173695;
}

#header a:hover{
  font-weight: bolder;
  color:teal;
}

#right-navbar a:hover{
  font-weight: bolder;
  color:teal;
  text-decoration: underline;
}

#right-navbar{
  display: inline;
}

#body-header{
  margin-top: 180px;
  height: 130px;
  width: 75%;
  margin-left: auto;
  margin-right: auto;
}

#body-header a{
  margin-top: 50px;
  margin-left: 50px;
  color: #173695;
  font-size: 20px;
  float: left;
  text-decoration: none;
  padding-left: 5px;
  padding-right: 5px;
  font-family: bold;
}

#body-header a:hover{
  font-size: 20px;
  color: teal;
}

#judul{
  font-family: bold; 
  margin: 2% 0 5% 0; 
  font-size: 35px; 
  font-weight: bold;
}

#body-container-model{
  margin-top: 50px;
  height: 750px;
  width: 75%;
  margin-left: auto;
  margin-right: auto;
  padding: 50px;
}

  #img_model{
    height: 200px;
  }

  #category{
    margin-left: 3%; 
    font-size: 15px;
  }

  #model-display{
    overflow-x: scroll;
    height: 60%;
    display: flex;
  }

  #next-model{
    height: 50px;
    background-color: #173695; 
    color: white; 
    font-family: bold;
    width: 250px;
    border: none;
    margin-top: 2%;
  }

  #next-model:hover{
    cursor: pointer;
    background-color: teal;
  }

#body-container{
  margin-top: 50px;
  height: 400px;
  width: 75%;
  margin-left: auto;
  margin-right: auto;
  padding: 50px;
  margin-bottom: 20px;
}

  #select-bahan{
    font-size: 40px;
    width: 50%;
  }

  #select-ukuran{
    font-size: 40px;
    width: 50%;
  }

  #select-aksesoris{
    font-size: 40px;
    width: 50%;
  }

  #navigate-pay{
    height: 50px;
    background-color: #173695; 
    color: white; 
    font-family: bold;
    width: 250px;
    border: none;
    margin-top: 10px;
  }

  #navigate-pay:hover{
    cursor: pointer;
    background-color: teal;
  }

* {box-sizing: border-box}
body {font-family: Verdana, sans-serif; margin:0}
.mySlides {display: none}
img {vertical-align: middle;}

.contact{
  text-align: center;
}

.contact a{
  font-size: 80px;
  margin-right: 20px;
}

.contact a:hover{
  color: teal;
}

.contact i{
  color: black;
}

.footer{
  background-color: #173695;
  height: 500px;
  float: left; 
  width: 100%;
}

.footer-text p{
text-align: left; 
font-family: reguler; 
color: white; 
font-weight: lighter;
font-size: 25px; 
margin-right: 150px;
}
.footer-text a{
  text-align: left; 
  font-family: reguler; 
  color: rgba(255, 255, 255, 0.733); 
  font-weight: lighter;
  margin-right: 150px;
  float: left;
}

#logobawah{
margin-top: 80px; 
margin-left: 190px; 
margin-right: 300px;
width: 400px; 
height: fit-content;
}
