@font-face {
    font-family: reguler;
    src:url(../fonts/Montserrat-Regular.ttf)
}
@font-face {
    font-family: bold;
    src: url(../fonts/Montserrat-ExtraBold.ttf);
}

html{
  scroll-behavior: smooth;
}

body {
	font-family: reguler;
	background-color: rgb(255, 255, 255);
}

#spacetop1{
  margin-top: 30px;
}

#spacetop2{
  margin-top: 60px;
}


#header{
  background-color: white;
  position: fixed;
  top: 0;
  width: 100%;
  height: 150px;
  font-family: reguler;
  opacity: 90%;
  transition: 0.3s;
}
#header-text{
  top: 10px;
  margin: 10px;
}

#header:hover{
  opacity: 100%;
  transition:0.3s;
}

#logo{
  margin: 0px 80px 80px 10%; 
  width: 150px; 
  height: fit-content;
}

button:active {
transform: scale(0.95);
}

#header #left-navbar{
  text-decoration: none;
  color: #173695;
  margin: 0px 30px;
  vertical-align: 50px;
  line-height: 150px;
}

#header #right-navbar{
  text-decoration: none;
  color: #173695;
  margin: 0px 10px;
  line-height: 150px;
  float: right;
}

#header input{
  margin-top: 65px;
  line-height: 10px;
  text-decoration: #173695;
  border-top: none;
  border-left: none;
  border-right: none;
  border-color: #173695;
}

#header a:hover{
  font-weight: bolder;
  color:teal;
}

#right-navbar a:hover{
  font-weight: bolder;
  color:teal;
  text-decoration: underline;
}

#right-navbar{
  display: inline;
}

.body-body{
  top: 0;
  background-image: url(../img/bg1.png);
  background-repeat:no-repeat;
  background-position: top right;
  width: 100%;
}

#bodytitle{
  margin-top: 110px;
}

#body-header{
    margin-top: 120px;
    margin-left: 50px;
    font-size: 40px;
    margin-bottom: 120px;
    height: 100px;
}

  #body-header-title{
    float: left;
    font-family: bold;
    margin-left: 50px;
    color: #173695;
    font-size: 70px;
  }

#body-content1{
  margin-left: 100px;
  font-size: 20px;
  width: 1180px;
  padding-left: 50px;
  padding-top: 10px;
  padding-bottom: 20px;
  border-radius: 25px;
}

#kolom1{
  width: 700px;
}

#kolom2{
  width: 200px;
  float: left;
}

#kolom3{
  float: left;
  width: 200px;
}


#linetable{
  border-top: 3px solid black;
  width: 1080px;
}

#contenttitle{
  font-family: bold;
  float: left; 
  font-size: 30px; 
  margin-left: 20px;
  text-decoration: none;
}

#contentwriter{
  float: left; 
  font-size: 15px; 
  margin-left: 20px;
  top: 0;
  text-decoration: none;
}

#contentprice{
  float: left; 
  font-size: 20px; 
  margin-left: 20px;
}

#counter{
  top: 0;
  float: right;
  width: fit-content;
  border-color: black;
  border: 2px solid;
  border-radius: 25px;
  padding-right: 10px;
  margin-right: 100px;
}

.counter-btn{
  color: #173695;
  font-size: 26px;
  text-decoration: none;
  border-style: none;
  background-color: white;
  padding: 0;
}

.counter-btn :hover{
  color: teal;
  cursor: pointer;
}

#total{

}

#trashbin{
  margin-top: 130px;
  margin-left: 70px;
  font-size: 50px;
  color: rgb(15, 13, 13);
  transition: 70ms;
}

#trashbin :hover{
  cursor: pointer;
  font-size: 60px;
}

#trashbin1{
  margin-top: 130px;
  margin-left: 70px;
  font-size: 50px;
  color: rgb(15, 13, 13);
  transition: 70ms;
}

#trashbin1 :hover{
  cursor: pointer;
  font-size: 60px;
}

#voucher{
  margin-left: 30px;
  width: 1020px;
  height: 75px;
  margin-bottom: 40px;
  background-color: #173695;
  transition: 1500ms ease-in-out;
  overflow: hidden;
}

  #voucher1{
    margin-left: 30px;
    width: 1020px;
    height: 75px;
    margin-bottom: 40px;
    background-color: #173695;
    transition: 1500ms ease-in-out;
    overflow: hidden;
  }

  #voucher1 a{
    color: white;
    font-family: bold;
    font-size: 40px;
    vertical-align: middle;
    margin-left: 30px;
  }

  #voucher:hover{
    margin-left: 0;
    width: 1080px;
    height: 400px;
  }

  #voucher a{
    color: white;
    font-family: bold;
    font-size: 40px;
    vertical-align: middle;
    margin-left: 30px;
  }

  #voucher-content{
    margin-top: 130px;
  }

  #voucher-content-input{
    width: 900px;
    height: 100px;
    border-radius: 50px;
    font-size: 65px;
    padding-left: 40px;
    padding-right: 40px;
  }

  #voucher-content-btn{
    width: 300px;
    height: 50px;
    border-radius: 20px;
    font-size: 20px;
    background-color: white;
    font-family: bold;
    color: #173695;
  }

  #voucher-content-btn:hover{
    background-color: teal;
    color: white;
  }

  #text1{
    display: none;
  }

#continue{
  margin-left: 220px;
  width: 610px;
  height: 50px;
  border-radius: 10px;
  background-color: teal;
  font-family: bold;
  transition: 0.5s ease-in-out;
  font-size: 20px;
}

#cancel{
  margin-left: 380px;
  width: 300px;
  height: 50px;
  border-radius: 10px;
  margin-top: 20px;
  background-color: red;
  font-family: bold;
  transition: 0.5s ease-in-out;
  display: none;
}

#body-total{
  float: right;
  margin-right: 60px;
  width: 450px;
  height: 480px;
  right: 0;
  background-color: white;
  border-radius: 25px;
}
    #body-total-title{
      width: 80%; 
      text-align: center; 
      margin-left: auto; 
      margin-right: auto;
      margin-top: 20px;
      padding-bottom: 23px;
      border-bottom: 2px solid black;
    }

    #body-total-content{
      width: 80%; 
      text-align: left; 
      margin-left: auto; 
      margin-right: auto;
      margin-top: 20px;
      padding-bottom: 23px;
      border-bottom: 2px solid black;
    }

    #body-total-content a{
      font-size: 18px;
    }

    #body-total-vocer{
      width: 80%; 
      text-align: left; 
      margin-left: auto; 
      margin-right: auto;
      margin-top: 20px;
      padding-bottom: 23px;
      border-bottom: 2px solid black;
    }

    #body-total-total{
      width: 80%; 
      text-align: left; 
      margin-left: 60px; 
      margin-top: 20px;
      padding-bottom: 23px;
      font-size: 24px;
      font-family: bold;
    }

      #body-total-total-btn{
        margin-left: 20px;
        background-color: #173695;
        border-radius: 10px;
        width: 300px;
      }

      #body-total-total-btn:hover{
        background-color: teal;
      }

      #rusure{
        display: none;
      }

      #yesbtn{
        display: none;
      }

      #nobtn{
        display: none;
      }

.contact{
  text-align: center;
}
    
.contact a{
  font-size: 80px;
  margin-right: 20px;
}
    
.contect a:hover{
    color: teal;
}
    
.contact i{
    color: black;
}

#btnyes{
  display: none;
}

#btnno{
  display: none;
}

.footer{
    background-color: #173695;
    height: 500px;
}
