<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script>document.getElementsByTagName("html")[0].className += " js";</script>
  <script src = "/Script/faq.js"></script>
  <link rel="stylesheet" href="/style/Catalog.css">
  <link rel="stylesheet" href="/style/Faq.css">
  <title>FAQ Template | CodyHouse</title>
</head>
<body>
<header class="cd-header flex flex-column flex-center" style="background-color: #173695;">
	<div class="text-component text-center">
		<h1>FAQ</h1>
		<p><a class="cd-article-link" href="/">Go back</a></p>
	</div>
</header>

<section class="cd-faq js-cd-faq container max-width-md margin-top-lg margin-bottom-lg">
	<ul class="cd-faq__categories">
		<li><a class="cd-faq__category cd-faq__category-selected truncate" href="#basics">Basics</a></li>
		<li><a class="cd-faq__category truncate" href="#account">Account</a></li>
		<li><a class="cd-faq__category truncate" href="#payments">Payments</a></li>
		<li><a class="cd-faq__category truncate" href="#privacy">Book</a></li>
		<li><a class="cd-faq__category truncate" href="#delivery">Delivery</a></li>
	</ul> <!-- cd-faq__categories -->

	<div class="cd-faq__items">
		<ul id="basics" class="cd-faq__group">
			<li class="cd-faq__title"><h2>Basics</h2></li>
			<li class="cd-faq__item">
				<a class="cd-faq__trigger" href="#0" style="color: #173695;"><span>How do I change my password?</span></a>
				<div class="cd-faq__content">
          <div class="text-component">
            <p>For changing password you can try to log in and pick the "Forgot Password" option</p>
          </div>
				</div> <!-- cd-faq__content -->
			</li>

			<li class="cd-faq__item">
				<a class="cd-faq__trigger" href="#0" style="color: #173695;"><span>How do I sign up?</span></a>
				<div class="cd-faq__content">
          <div class="text-component">
			  <p>You can sign up on the sign up page</p>
          </div>
				</div> <!-- cd-faq__content -->
			</li>

			<li class="cd-faq__item">
				<a class="cd-faq__trigger" href="#0"style="color: #173695;"><span>Can I cancel an order</span></a>
				<div class="cd-faq__content">
          <div class="text-component">
			  <p>No, due to the system of online shopping once an order is made it cannot be canceled</p>
          </div>
				</div> <!-- cd-faq__content -->
			</li>

			<li class="cd-faq__item">
				<a class="cd-faq__trigger" href="#0"style="color: #173695;"><span>What is wishlist?</span></a>
				<div class="cd-faq__content">
          <div class="text-component">
			  <p>Wishlist is a list containing all the book you want to buy, you can add book to this page to help you keep track of them	</p>
          </div>
				</div> <!-- cd-faq__content -->
			</li>
		</ul> <!-- cd-faq__group -->

		<ul id="account" class="cd-faq__group">
			<li class="cd-faq__title"><h2>Account</h2></li>
			<li class="cd-faq__item">
				<a class="cd-faq__trigger" href="#0"style="color: #173695;"><span>How do I change my password?</span></a>
				<div class="cd-faq__content">
          <div class="text-component">
            <p>For changing password you can try to log in and pick the "Forgot Password" option</p>
          </div>
				</div> <!-- cd-faq__content -->
			</li>

			<li class="cd-faq__item">
				<a class="cd-faq__trigger" href="#0"style="color: #173695;"><span>I forgot my password. How do I reset it?</span></a>
				<div class="cd-faq__content">
          <div class="text-component">
			  <p>For changing password you can try to log in and pick the "Forgot Password" option</p>
          </div>
				</div> <!-- cd-faq__content -->
			</li>

			<li class="cd-faq__item">
				<a class="cd-faq__trigger" href="#0"style="color: #173695;"><span>How do i sign up?</span></a>
				<div class="cd-faq__content">
          <div class="text-component">
			  <p>You can sign up on the sign up page</p>
          </div>
				</div> <!-- cd-faq__content -->
			</li>
		</ul> <!-- cd-faq__group -->

		<ul id="payments" class="cd-faq__group">
			<li class="cd-faq__title"><h2>Payments</h2></li>
			<li class="cd-faq__item">
				<a class="cd-faq__trigger" href="#0"style="color: #173695;"><span>Can i pay after the book arive?</span></a>
				<div class="cd-faq__content">
          <div class="text-component">
			  <p>Our ToS stated that all payment must be done before order can be accepted. If compilation happen after the payment and the books didn't arive you can contact our customer support</p>
          </div>
				</div> <!-- cd-faq__content -->
			</li>

			<li class="cd-faq__item">
				<a class="cd-faq__trigger" href="#0"style="color: #173695;"><span>Why did my credit card or PayPal payment fail?</span></a>
				<div class="cd-faq__content">
          <div class="text-component">
			  <p>Check your account balance or check to your bank</p>
          </div>
				</div> <!-- cd-faq__content -->
			</li>

			<li class="cd-faq__item">
				<a class="cd-faq__trigger" href="#0"style="color: #173695;"><span>Why does my bank statement show multiple charges for one order?</span></a>
				<div class="cd-faq__content">
          <div class="text-component">
            <p>We charge per order therefor one book order or ten book order should made one charges, if there are multiple charges for an order please contact our customer support with the screenshot/picture proof of that happening and we'll gladly resolve it</p>
          </div>
				</div> <!-- cd-faq__content -->
			</li>
		</ul> <!-- cd-faq__group -->

		<ul id="privacy" class="cd-faq__group">
			<li class="cd-faq__title"><h2>Book</h2></li>
			<li class="cd-faq__item">
				<a class="cd-faq__trigger" href="#0"style="color: #173695;"><span>How can i request a book to be put in the shop?</span></a>
				<div class="cd-faq__content">
          <div class="text-component">
			  <p>You can send us an email of the book you think would be a good adition for our website. However we do not deal with a single request book</p>
          </div>
				</div> <!-- cd-faq__content -->
			</li>

			<li class="cd-faq__item">
				<a class="cd-faq__trigger" href="#0"style="color: #173695;"><span>How do i check the book synopsis?</span></a>
				<div class="cd-faq__content">
          <div class="text-component">
			  <p>You can check them by going to the product page, simply click on the book and you'll be able to see the book details</p>
          </div>
				</div> <!-- cd-faq__content -->
			</li>

			<li class="cd-faq__item">
				<a class="cd-faq__trigger" href="#0"style="color: #173695;"><span>How do i search for a specific book?</span></a>
				<div class="cd-faq__content">
          <div class="text-component">
			  <p>There is a search bar on the top right of the website</p>
          </div>
				</div> <!-- cd-faq__content -->
			</li>

			<li class="cd-faq__item">
				<a class="cd-faq__trigger" href="#0"style="color: #173695;"><span>Will old, classic book be added to the site?</span></a>
				<div class="cd-faq__content">
          <div class="text-component">
			  <p>Yes, we activly search for clasical book that we can add to our site, if you have suggestion please send us an email about your suggestion</p>
          </div>
				</div> <!-- cd-faq__content -->
			</li>
		</ul> <!-- cd-faq__group -->

		<ul id="delivery" class="cd-faq__group">
			<li class="cd-faq__title"><h2>Delivery</h2></li>
			<li class="cd-faq__item">
				<a class="cd-faq__trigger" href="#0"style="color: #173695;"><span>What should I do if my order hasn't been delivered yet?</span></a>
				<div class="cd-faq__content">
          <div class="text-component">
			  <p>Your order will be delivered after payment so make sure that you have done your payment. If you already did and it still haven't been delivered please contact us at customer support</p>
          </div>
				</div> <!-- cd-faq__content -->
			</li>

			<li class="cd-faq__item">
				<a class="cd-faq__trigger" href="#0"style="color: #173695;"><span>How can I find your international delivery information?</span></a>
				<div class="cd-faq__content">
          <div class="text-component">
			  <p>You can find them <a href="https://www.ups.com/id/en/shipping/international/services.page" target="_blank">here</a></p>
          </div>
				</div> <!-- cd-faq__content -->
			</li>

			<li class="cd-faq__item">
				<a class="cd-faq__trigger" href="#0"style="color: #173695;"><span>Who takes care of shipping?</span></a>
				<div class="cd-faq__content">
          <div class="text-component">
			  <p>Ups</p>
          </div>
				</div> <!-- cd-faq__content -->
			</li>

			<li class="cd-faq__item">
				<a class="cd-faq__trigger" href="#0"style="color: #173695;"><span>How do returns or refunds work?</span></a>
				<div class="cd-faq__content">
          <div class="text-component">
			  <p>You'll have to contact us stating the reason for refund or returns, once we confirm the reason are valid we'll send you further instruction on it. You can check our policies for refund <a href="../Viscovery_Online_Terms_and_Conditions.pdf" target="_blank	">here</a></p>
          </div>
				</div> <!-- cd-faq__content -->
			</li>

			<li class="cd-faq__item">
				<a class="cd-faq__trigger" href="#0"style="color: #173695;"><span>How do I use shipping profiles?</span></a>
				<div class="cd-faq__content">
          <div class="text-component">
            <p>You can keep track of them <a href="https://www.ups.com/id/en/services/tracking/information.page" target="_blank">here</a>. Your shipment tracking number will be emailed to you after ordering</p>
          </div>
				</div> <!-- cd-faq__content -->
			</li>

			
				</div> <!-- cd-faq__content -->
			</li>
		</ul> <!-- cd-faq__group -->
	</div> <!-- cd-faq__items -->

	<a href="#0" class="cd-faq__close-panel text-replace">Close</a>
  
  <div class="cd-faq__overlay" aria-hidden="true"></div>
</section> <!-- cd-faq -->
<script src="../Script/faq.js"></script> <!-- util functions included in the CodyHouse framework -->
<div class="footer" style="float: left; width: 100%;">
	<table>
		<tr>
			<th>
				<a><img style="margin-top: 80px; margin-left: 190px; margin-right: 300px; height: 60%; width: 60%;" src="../img/logo white.png"></a>
			</th>
			<th>
				<br>
			</th>
			<th>
				<br>
			</th>
			<th>
				<div style="text-align: left; font-family: reguler; color: white; font-weight: lighter;">
					<br><br><br><br>
					<p style="font-size: 18px; margin-right: 150px;">Legal</p><br><br>
					<a href="Cookies.html">Cookies Policy</a><br><br>
					<a href="privacy.html">Privacy Policy</a>
				</div>
			</th>
			<th>
				<div style="text-align: left; font-family: reguler; color: white; font-weight: lighter;">
					<br><br><br><br>
					<p style="font-size: 18px; margin-right: 150px;">Support</p><br><br>
					<a href="Faq.html">FAQ</a><br><br>
					<a href="mailto:jayasejahtera@gmail.com">Contact Support</a><br><br>
					<a href="../Viscovery_Online_Terms_and_Conditions.pdf" target="_blank">Terms of Sevice</a>
				</div>
			</th>
		</tr>
	</table>
	
	
</div>

<style>
	
</style>

</body>
</html>