<!DOCTYPE html>
<html>
	<head>
		<link rel="shortcut icon" href="img/icon.png"/>
		<title>Bajuku - Home Page</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="style/style.css">
		<link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
		<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"/>
		<a id="home">.</a>
	</head>
	<body>
		<!-- Header class -->
		<a id="home">home</a>
		<div class="card3" id="header">
			<a href="#home"><img id="logo" src="img/bajuku_logo.png"></a>
			<!--Navbar-->
			<a id="left-navbar" href="#aboutus">About</a>
			<a id="left-navbar" style="cursor: pointer;" onclick="javascript:alert('Login Terlebih Dahulu')">Costum</a>
			
			<a id="right-navbar" href="/login"><i class=""></i> Log In</a>
			<a onclick="javascript:alert('Login Terlebih Dahulu')" class="w3-button" id="right-navbar"><i class="fa fa-shopping-cart" aria-hidden="true"></i></a>
		</div>
		<!-- BODY -->
		<div class="card3" id="body-header">
			<div style="float: left;">
				<br><br><br><br><br><br><br><br>
			<a class="" style="font-weight: 1000; font-size: 40px; font-family: bold; text-decoration: none;">
				Belanja Online
			</a>
			<br><br><br>
			<a style=" float: left;">
				Tempat Custom Baju Online Terbaik
			</a>
			<br>
			<a style="float: left;">
				Dengan Harga Terjangkau
			</a>
			<br>
			<a href="">
				<button onclick="javascript:alert('Login Terlebih Dahulu')" class="w3-btn" id="btn_startshop" type="button">Mulai Custom</button>
			</a>
			</div>
			
			<div id="carousel">
				<div id="biglogo">
					<div class="mySlides fade">
					  <!--Gambar Dalam Carousel 1-->
					  <img src="img/bajuku_logo_putih.png" style="height: 150px;"><br><br><br><br><br><br><br><br>
					  <a id="aturpemesanan">.</a>
					</div>
				</div>
			</div>
		</div>

		<a id="aboutus" style="color: white;">oasnfd</a>
		<br>
		<div class="contact">
			<p style="font-family: bold; font-size: 40px; text-align: center;">
				Get our news in this social media
			</p>
			<a href="https://id-id.facebook.com/" target="_blank"><i class="fa fa-facebook-square"></i></a>
			<a href="https://twitter.com/login" target="_blank"><i class="fa fa-twitter"></i></a>
			<a href="https://vk.com/" target="_blank"><i class="fa fa-vk"></i></a>
			<a href="https://id-id.facebook.com/" target="_blank"><i class="fa fa-instagram"></i></a>
			<a href="https://www.youtube.com/?gl=ID" target="_blank"><i class="fa fa-youtube-play"></i></a>
		</div>
		<br><br>
		<div class="footer">
			<table>
				<tr>
					<th>
						<a><img id="logobawah" src="img/bajuku_logo_putih.png"></a>
					</th>
					<th>
						<br>
					</th>
					<th>
						<br>
					</th>
					<th>
						<div class="footer-text" >
							<br><br><br><br>
							<p>Legal</p>
							<a href="pages/Cookies.html">Cookies Policy</a><br><br>
							<a href="pages/privacy.html">Privacy Policy</a>
						</div>
					</th>
					<th>
						<div class="footer-text">
							<br><br><br><br>
							<p>Support</p>
							<a href="pages/Faq.html">FAQ</a><br><br>
							<a href="mailto:jayasejahtera@gmail.com">Contact Support</a><br><br>
							<a href="Viscovery_Online_Terms_and_Conditions.pdf" target="_blank">Terms of Sevice</a>
						</div>
					</th>
				</tr>
			</table>
			
			
		</div>

		<script>
			var slideIndex = 1;
			showSlides(slideIndex);

			function plusSlides(n) {
			showSlides(slideIndex += n);
			}

			function currentSlide(n) {
			showSlides(slideIndex = n);
			}

			function showSlides(n) {
			var i;
			var slides = document.getElementsByClassName("mySlides");
			var dots = document.getElementsByClassName("dot");
			setTimeout(showSlides, 3000);
			if (n > slides.length) {slideIndex = 1}
			if (n < 1) {slideIndex = slides.length}
			for (i = 0; i < slides.length; i++) {
				slides[i].style.display = "none";  
			}
			for (i = 0; i < dots.length; i++) {
				dots[i].className = dots[i].className.replace(" active", "");
			}
			slides[slideIndex-1].style.display = "block";
			dots[slideIndex-1].className += " active";
			}
		</script>
	</body>
</html>
