<!DOCTYPE html>
<html>
	<head>
		<link rel="shortcut icon" href="/img/icon.png">
		<title>Bajuku - LoginPage</title>
		<link rel="stylesheet" href="/style/loginPageCss.css">
		
	</head>
	<body>
		<!--BODY-->
		<div class="container">
				<form id="form1" method="POST">
					<h1 id="test1">Sign in</h1>
					<span>use your account</span>
					<input id="username" type="text" placeholder="Username" name='username'/>
					<input id="password" type="password" placeholder="Password" name='password'/>
					<input id="email" type="email" placeholder="Email" />
					<a id="wrong" style="<%= 'display: ' + (error ? 'block' : 'none') %>" >Wrong Username or Password</a>
					<a><input class="btn" type="submit" id="signin" value='Sign In'></a>
					<a id="back" href="/"><i class="fa fa-chevron-left" aria-hidden="true"></i> Back</a>
				</form>
		</div>
		<script>
			var fps = document.getElementById('wrong');
			var sended = document.getElementById('sended');
		</script>
    </body>
</html>
